.main {
    margin: 0 5% 5% 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 5px 20px;
    border-radius: 10px;
}

.card {    
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.card p, .card h4{
    margin: 2px;
    padding: 2px;
}

.link {
    text-decoration: none;
    color: #43A2E4;
}
.link h4:hover {
    transition: 0.2s;
    color: #FF3900;
    text-decoration: underline;
}


.img { margin: auto; }

/* Estilos do menu suspenso de Descrição */


.ordenar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}

.menu2 button {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px #333;
    border: 1.5px solid #333;
    border-radius: 3px;
    padding-block: 2px;
}
.menu2 button:hover {
    cursor: pointer;
    background-color: #dddddd;
}
.menu2, .menu2 button {
    display: flex;
    align-items: center;
}

.menu2 input {
    padding: 10px; 
    background-color: #fff;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #333;
    border-radius: 8px;
    color: #6D6D6D;
    width: 350px;
}

@media (max-width: 930px) {
    .menu2 input {
        width: auto;
    }
}

@media (max-width: 750px) {
    .menu2 {margin: 0 !important; padding: 0 !important;}
    .menu2 input {
        width: 350px;
    }
    .ordenar {
        flex-direction: column;
        justify-content: center;
    }
    .ordenar div {
        margin-block: 20px !important;
    }
}

@media (max-width: 443px) {
    .menu2 input {width: auto;}
    .ordenar {width: 100%;}    
    .ordenar h2 {font-size: 15px;}    
}