.main, .passarPokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 60%;
}
.passarPokemon {justify-content: space-between !important;}
.passarPokemon a {
    height: 25px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #161616;
    padding-right: 5px;
    border-bottom: 1px solid #00000000;
}

.passarPokemon a:hover {
    transition: 0.3s;
    border-bottom: 1px solid #333333;
}

.pokemon .pokemonImg img {
    box-shadow: inset 0 0 0 2px #333, inset 0 0 0 4px #fff, inset 0 0 0 6px #333;
    border-radius: 10px;
    padding: 80px 30px;
}
.pokemon .pokemonImgTras img {
    box-shadow: inset 0 0 0 2px #333, inset 0 0 0 4px #fff, inset 0 0 0 6px #333;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: -70px 0 0 -10px;
}

.pokemonNome {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.pokemonNome h2, .pokemonNome p {padding-bottom: 3px; margin-bottom: 0;}


.atrib {
    border-right: 2px solid #333;
    padding: 20px;
}
.atrib p {
    padding: 4px;
    border-bottom: 0.5px solid #3333333b;
}

.evolucoes {
    padding: 20px 0 10px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.pokeEvolution {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pokeEvolution div img {
    box-shadow: inset 0 0 0 1px #333, inset 0 0 0 2px #fff, inset 0 0 0 3px #333;
    border-radius: 50%;
    transition: 0.3s;
}
.img {
    transition: 0.3s;
    background-color: #ccc;
}
.pokeEvolution div img:hover, .img:hover {
    transition: 0.3s;
    background-color: #999;
}

.pokeEevee {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}


@media (max-width: 700px) {
    .evolucoes {
        padding-left: 2px;
    }
    .main {
        flex-wrap: wrap;
    }
    .passarPokemon {
        width: 95%;
    }
}

@media (max-width: 500px) {
    .main div {
        flex-wrap: wrap;
    }
    .main div .pokeEevee {
        flex-wrap: nowrap !important;
    }
    .atrib {
        border: 0;
    }
}